* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

    font-family:'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );}

 img {
    display: block;
     width: 100%;
     max-width: 100%;
} 

.intro {
    color: whitesmoke; font-family: "Helvetica Neue",Arial,sans-serif; font-size: 16px; font-weight: 300; line-height: 1.5625; margin-bottom: 15px;
}

.intro::first-line {
    font-size: 200%;
    color: lightcoral;
}


h1{
    color: white;
    text-align: center;
    padding:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    padding: 6px;
    color:coral;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(21, 206, 219);
}


a::hover {
    background-color: white;
}

footer{
    text-align: center;
    font-size: 20px;
    background-color:indianred;
    font-family:Arial, Helvetica, sans-serif;
}
.flav{
    padding: 10px;
    margin:10px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}

.grid {
    display: block;
    padding: 17px;

    @media(min-width: 768px) {
        display: grid;
        // obsolete. 
        grid-gap: 16px;

        //Not obsolete
        row-gap: 16px;

        grid-template-columns: repeat(2,1fr) ;
    }
    @media(min-width: 960px) {
    
        grid-template-columns: repeat(3,1fr) ;
    }

    @media(min-width: 1200px){
        grid-template-columns: repeat(3,1fr);
    }
    }
    
    .col{
        background-color:rgb(39, 36, 70);
        margin-bottom: 10px;
        padding: 16px;
    }
